In [4]:
# Dependencies and Setup 
import pandas as pd
import os
import sys

# define current date string to append to the names of output files...
import datetime  
def _getToday(): return datetime.date.today().strftime("%Y%m%d")

In [5]:
# Define path to csv file 
mustangs_file=os.path.join('.','resources','vintage_mustangs.csv') 
mustangs_file

'.\\resources\\vintage_mustangs.csv'

In [6]:
# Read in csv file and convert to dataframe 
# Read file and define it as 'file_cities'
file_mustangs=pd.read_csv(mustangs_file) 

# Create dataframe
mustangs_df=pd.DataFrame(file_mustangs)

# Columns to display in dataframe.
mustangs_df=mustangs_df[["ID","Model Year", "US Sales"]] 

# Display dataframe output
mustangs_df.head()

   ID  Model Year US Sales
0   0        1964  121,538
1   1        1965  559,451
2   2        1966  607,568
3   3        1967  472,121
4   4        1968  317,404

In [12]:
# output data fram to html format copy to data backup versions folder
mustangs_df.to_html('./versions/data_source_vintage_mustangs_html_backup/vintage_mustangs.html', index=False)

In [13]:
# output data fram to html format copy to resources folder for backup versioning
mustangs_df.to_html('./resources/vintange_mustangs.html', index=False)

In [14]:
# output data fram to html format - production use data
mustangs_df.to_html('./vintage_mustangs.html', index=False)

In [ ]:
## EOF ##